## sqlite3 in python

In [1]:
import sqlite3

In [2]:
type(sqlite3)

module

In [3]:
conn = sqlite3.connect('first.db')

In [4]:
in_mem = sqlite3.connect(":memory:")

## connections and cursors

In [5]:
conn

In [6]:
conn.cursor()

### cursor = control structure traversal of records in a db

In [7]:
cur = conn.cursor()

In [8]:
cur.execute("""
    CREATE TABLE ice_cream_flavors (
            id INTEGER PRIMARY KEY,
            flavor TEXT,
            rating INTEGER
    );
""")

OperationalError: table ice_cream_flavors already exists

## inserts

In [9]:
cur

In [10]:
cur.execute("""
    INSERT INTO ice_cream_flavors (flavor, rating)
            VALUES ('choco', 10), ('straw', 9), ('pistachio', 7.2);

""")

#### ^needed conn.commit()

In [11]:
conn.commit()

In [12]:
cur.execute('CREATE TABLE ice_cream_flavors (id INTEGER PRIMARY KEY, flavor TEXT, rating INTEGER);')

OperationalError: table ice_cream_flavors already exists

#### ^ DID NOT need conn.commit()

In [14]:
# DML - insert, update, delete 
# DDL - create/alter/drop table
# DCL - grant, revoke
# DQL - select, with