# Connecting From Python

In [4]:
# sqlite3 -> python std lib

# mysql -> mysql.connector

In [5]:
%%bash
pip install mysql-connector-python==8.0.30

Collecting mysql-connector-python==8.0.30
  Using cached mysql_connector_python-8.0.30-cp310-cp310-macosx_11_0_x86_64.whl (5.1 MB)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in ./env/lib/python3.10/site-packages (from mysql-connector-python==8.0.30) (3.20.1)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.30

WARNING: You are using pip version 21.2.4; however, version 22.2.2 is available.
You should consider upgrading via the '/Users/sh7ata/Desktop/wip/production/day2 - lectures/env/bin/python -m pip install --upgrade pip' command.

In [ ]:
# mysql://root:W5bHNZhgkbaLfOwob1a8@containers-us-west-16.railway.app:5573/railway

In [7]:
from mysql.connector import connect

connection = connect(
    host="containers-us-west-16.railway.app",
    port="5573",
    user="root",
    password="W5bHNZhgkbaLfOwob1a8",
    database="railway"
)

In [8]:
connection.is_connected()

True

In [9]:
connection.close()

# URL Parsing

In [11]:
connection_url = "mysql://root:W5bHNZhgkbaLfOwob1a8@containers-us-west-16.railway.app:5573/railway"

In [12]:
from urllib.parse import urlparse

In [15]:
url = urlparse(connection_url)

In [16]:
url.username

'root'

In [17]:
url.hostname

'containers-us-west-16.railway.app'

In [18]:
url.port

5573

In [21]:
url.path[1:]

'railway'

In [22]:
from mysql.connector import connect

connection = connect(
    host=url.hostname,
    port=url.port,
    user=url.username,
    password=url.password,
    database=url.path[1:]
)

In [25]:
connection.is_connected()

False

In [24]:
connection.close()

# Cursors Again

In [26]:
from mysql.connector import connect

connection = connect(
    host=url.hostname,
    port=url.port,
    user=url.username,
    password=url.password,
    database=url.path[1:]
)

In [27]:
cur = connection.cursor()

In [28]:
cur

In [29]:
cur.execute("SELECT 12;")

In [30]:
cur.fetchall()

[(12,)]

In [33]:
cur.execute("""
    CREATE TABLE users (
        id INTEGER PRIMARY KEY AUTO_INCREMENT,
        username VARCHAR(50) NOT NULL,
        password VARCHAR(50) NOT NULL
    );
""")

ProgrammingError: 1050 (42S01): Table 'users' already exists

In [34]:
cur.execute("""
    INSERT INTO users (username, password)
    VALUES
    ("rolf", "1234"),
    ("anne", "xyz");
""")

In [35]:
connection.commit()

# Context Managers Revisited

In [37]:
connection = connect(
    host=url.hostname,
    port=url.port,
    user=url.username,
    password=url.password,
    database=url.path[1:]
)

cur = connection.cursor()
cur.execute("INSERT INTO users (username, password) VALUES ('bob', 'asdf')")
connection.commit()
connection.close()

In [38]:
# files, connections, locks

# with

In [39]:
get_db_connection = lambda: connect(
    host=url.hostname,
    port=url.port,
    user=url.username,
    password=url.password,
    database=url.path[1:]
)

In [40]:
conn = get_db_connection()

In [42]:
conn
conn.is_connected()

True

In [43]:
with get_db_connection() as conn:
    with conn.cursor() as cur:
        cur.execute("INSERT INTO users (username, password) VALUES ('anastasia', 'diso');")
        conn.commit()

In [44]:
get_db_connection = lambda: connect(
    host=url.hostname,
    port=url.port,
    user=url.username,
    password=url.password,
    database=url.path[1:],
    autocommit=True
)

In [45]:
with get_db_connection() as conn:
    with conn.cursor() as cur:
        cur.execute("INSERT INTO users (username, password) VALUES ('colin', 'boss');")

In [46]:
conn.is_connected()

False

In [48]:
cur.execute("SELECT * FROM users;")

ProgrammingError: 2055: Cursor is not connected

In [ ]:
# Python OOP aside
# context manager protocol -> __enter__ and __exit__

# Parameterized Inserts

In [51]:
query = "INSERT INTO users (username, password) VALUES (%s, %s);"

In [53]:
users = [
    ("bob", "dolphin12"),
    ("rolf", "sdf2"),
    ("anne", "poyntz")
]

In [54]:
with get_db_connection() as conn:
    with conn.cursor() as cur:
        cur.executemany(query, users)

In [55]:
new_user = ("jose", "1234")

with get_db_connection() as conn:
    with conn.cursor() as cur:
        cur.execute(query, new_user)

# Prepared Statements

In [56]:
query = "INSERT INTO users (username, password) VALUES (%s, %s)"

In [57]:
millions_of_users = [
    ("many", "more"),
    ("users", "here"),
    ("almost", "ad"),
    ("infinitum", "forevermore")
]

In [59]:
type(query)

str

In [60]:
conn = get_db_connection()

In [61]:
# cur = conn.cursor()

In [62]:
cur = conn.cursor(prepared=True)

In [63]:
type(cur)

mysql.connector.cursor_cext.CMySQLCursorPrepared

In [64]:
# ^precompiled; compiled only once

In [65]:
with get_db_connection() as conn:
    with conn.cursor(prepared=True) as cur:
        cur.executemany(query, millions_of_users)

In [66]:
# ? -> sqlite

In [67]:
query = "INSERT INTO users (username, password) VALUES (?, ?)"

In [68]:
with get_db_connection() as conn:
    with conn.cursor(prepared=True) as cur:
        cur.executemany(query, millions_of_users)

In [69]:
with get_db_connection() as conn:
    with conn.cursor() as cur:
        cur.executemany(query, millions_of_users)

ProgrammingError: Not all parameters were used in the SQL statement

# Let's Fetch

In [70]:
conn = get_db_connection()

In [71]:
cur = conn.cursor()

In [72]:
cur.execute("SELECT * FROM users;")

In [73]:
cur.fetchall()

[(1, 'rolf', '1234'),
 (2, 'anne', 'xyz'),
 (3, 'anastasia', 'diso'),
 (4, 'colin', 'boss'),
 (5, 'bob', 'dolphin12'),
 (6, 'rolf', 'sdf2'),
 (7, 'anne', 'poyntz'),
 (8, 'jose', '1234'),
 (9, 'many', 'more'),
 (10, 'users', 'here'),
 (11, 'almost', 'ad'),
 (12, 'infinitum', 'forevermore'),
 (13, 'many', 'more'),
 (14, 'users', 'here'),
 (15, 'almost', 'ad'),
 (16, 'infinitum', 'forevermore')]

In [77]:
cur.fetchone()

In [80]:
with get_db_connection() as conn:
    with conn.cursor() as cur:
        cur.execute("SELECT * FROM users ORDER BY RAND() LIMIT 1;")
        print(cur.fetchone())

(16, 'infinitum', 'forevermore')

In [81]:
with get_db_connection() as conn:
    with conn.cursor() as cur:
        cur.execute("SELECT * FROM users ORDER BY RAND() LIMIT 2;")
        print(cur.fetchone())

(13, 'many', 'more')

InternalError: Unread result found

# Buffering

In [83]:
with get_db_connection() as conn:
    with conn.cursor() as cur:
        cur.execute("SELECT * FROM users")
        print(cur.fetchone())

(1, 'rolf', '1234')

InternalError: Unread result found

In [84]:
with get_db_connection() as conn:
    with conn.cursor(buffered=True) as cur:
        cur.execute("SELECT * FROM users")
        print(cur.fetchone())

(1, 'rolf', '1234')

# Dict Cursors

In [86]:
with get_db_connection() as conn:
    with conn.cursor() as cur:
        cur.execute("SELECT * FROM users LIMIT 3")
        print(cur.fetchall())

[(1, 'rolf', '1234'), (2, 'anne', 'xyz'), (3, 'anastasia', 'diso')]

In [87]:
# row_factory

In [88]:
with get_db_connection() as conn:
    with conn.cursor(dictionary=True) as cur:
        cur.execute("SELECT * FROM users LIMIT 3")
        print(cur.fetchall())

[{'id': 1, 'username': 'rolf', 'password': '1234'}, {'id': 2, 'username': 'anne', 'password': 'xyz'}, {'id': 3, 'username': 'anastasia', 'password': 'diso'}]

In [90]:
with get_db_connection() as conn:
    with conn.cursor(dictionary=True) as cur:
        cur.execute("SELECT * FROM users LIMIT 3")

        for user in cur.fetchall():
            print(user['username'])
            print(user.get('password'))
            print(type(user))

rolf
1234
<class 'dict'>
anne
xyz
<class 'dict'>
anastasia
diso
<class 'dict'>

# A Named Alternative

In [91]:
from collections import namedtuple

In [92]:
User = namedtuple("User", "id username password")

In [97]:
user1 = User(1, "johndoe", "secret")

In [94]:
user1.username

'johdoe'

In [95]:
user1.password

'secret'

In [96]:
user1[1]

'johdoe'

In [98]:
user1.username = "johndoe2"

AttributeError: can't set attribute

In [99]:
user1 = 2

In [101]:
with get_db_connection() as conn:
    with conn.cursor(named_tuple=True) as cur:
        cur.execute("SELECT * FROM users LIMIT 1")

        for user in cur.fetchall():
            print(user.username)
            print(type(user))
            print(issubclass(type(user), tuple))

rolf
<class 'mysql.connector.cursor_cext.Row'>
True

# .executescript() Please?

In [118]:
DDL = """
drop table if exists posts;

drop table if exists users;

create table users (
    id int auto_increment primary key,
    username varchar(20) not null,
    password varchar(20) not null,
    email varchar(20) not null
);

create table posts (
    id int auto_increment primary key,
    title varchar(20) not null,
    body varchar(20) not null,
    user_id int not null,
    foreign key (user_id) references users(id) on delete cascade);
"""

In [109]:
with get_db_connection() as conn:
    with conn.cursor() as cur:
        cur.executescript(DDL)

AttributeError: 'CMySQLCursor' object has no attribute 'executescript'

In [110]:
# .execute()

In [111]:
DDL.split(';')

['\ndrop table if exists posts',
 '\n\ndrop table if exists users',
 '\n\ncreate table users (\n    id int auto_increment primary key,\n    username varchar(20) not null,\n    password varchar(20) not null,\n    email varchar(20) not null\n)',
 '\n\ncreate table posts (\n    id int auto_increment primary key,\n    title varchar(20) not null,\n    body varchar(20) not null,\n    user_id int not null,\n    foreign key (user_id) references users(id) on delete cascade)',
 '\n']

In [112]:
with get_db_connection() as conn:
    with conn.cursor() as cur:
        cur.execute('\n')

ProgrammingError: 1065 (42000): Query was empty

In [114]:
statements = [s.strip() for s in DDL.split(';') if s.strip()]

In [115]:
statements

['drop table if exists posts',
 'drop table if exists users',
 'create table users (\n    id int auto_increment primary key,\n    username varchar(20) not null,\n    password varchar(20) not null,\n    email varchar(20) not null\n)',
 'create table posts (\n    id int auto_increment primary key,\n    title varchar(20) not null,\n    body varchar(20) not null,\n    user_id int not null,\n    foreign key (user_id) references users(id) on delete cascade)']

In [116]:
with get_db_connection() as conn:
    with conn.cursor() as cur:
        for statement in statements:
            cur.execute(statement)

In [117]:
with get_db_connection() as conn:
    with conn.cursor() as cur:
        cur.execute("SHOW TABLES")
        print(cur.fetchall())

[('posts',), ('users',)]

In [120]:
sql_script = """
drop table if exists posts;

drop table if exists users;

create table users (
    id int auto_increment primary key,
    username varchar(20) not null,
    password varchar(20) not null,
    email varchar(20) not null
);

create table posts (
    id int auto_increment primary key,
    title varchar(20) not null,
    body varchar(20) not null,
    user_id int not null,
    foreign key (user_id) references users(id) on delete cascade);

insert into users (username, password, email) values ('johndoe', 'secret', 'jds@gmail.com');
insert into posts (title, body, user_id) values ('post1', 'body1', 1);
"""

In [121]:
def prep_statements_from(script):
    stmts = [s.strip() for s in script.split(';') if s.strip()]
    return stmts

In [122]:
prep_statements_from(sql_script)

['drop table if exists posts',
 'drop table if exists users',
 'create table users (\n    id int auto_increment primary key,\n    username varchar(20) not null,\n    password varchar(20) not null,\n    email varchar(20) not null\n)',
 'create table posts (\n    id int auto_increment primary key,\n    title varchar(20) not null,\n    body varchar(20) not null,\n    user_id int not null,\n    foreign key (user_id) references users(id) on delete cascade)',
 "insert into users (username, password, email) values ('johndoe', 'secret', 'jds@gmail.com')",
 "insert into posts (title, body, user_id) values ('post1', 'body1', 1)"]

In [124]:
with get_db_connection() as conn:
    with conn.cursor() as cur:
        for statement in prep_statements_from(sql_script):
            cur.execute(statement)

In [126]:
with get_db_connection() as conn:
    with conn.cursor() as cur:
        cur.execute("SELECT * FROM posts;")
        print(cur.fetchall())

[(1, 'post1', 'body1', 1)]

# Best: Multi With Autocommit

In [140]:
sql_script = """
drop table if exists posts;

drop table if exists users;

create table users (
    id int auto_increment primary key,
    username varchar(20) not null,
    password varchar(20) not null,
    email varchar(20) not null
);

create table posts (
    id int auto_increment primary key,
    title varchar(20) not null,
    body varchar(20) not null,
    user_id int not null,
    foreign key (user_id) references users(id) on delete cascade);


insert into users (username, password, email) values ('johndoe', 'secret', 'jds@gmail.com');
insert into posts (title, body, user_id) values ('post1', 'body1', 1);
insert into posts (title, body, user_id) values ('post2', 'body2', 1);
insert into posts (title, body, user_id) values ('post3', 'body3', 1);
insert into posts (title, body, user_id) values ('post4', 'body4', 1);
"""

In [130]:
get_db_connection = lambda autocommit = False: connect(
    host=url.hostname,
    port=url.port,
    user=url.username,
    password=url.password,
    database=url.path[1:],
    autocommit=autocommit  # NOT the default
)

In [131]:
with get_db_connection(autocommit=False) as conn:
    with conn.cursor() as cur:
        cur.execute("INSERT INTO users (username, password, email) VALUES ('johndoe', 'secret', 'js@yahoo.it');")
        conn.commit()

In [132]:
# multi param to True

with get_db_connection(autocommit=False) as conn:
    with conn.cursor() as cur:
        cur.execute(sql_script, multi=True)
        conn.commit()

MySQLInterfaceError: Commands out of sync; you can't run this command now

In [133]:
with get_db_connection(autocommit=False) as conn:
    with conn.cursor() as cur:
        cur.execute(sql_script, multi=True)
        # conn.commit()

In [134]:
with get_db_connection(autocommit=False) as conn:
    with conn.cursor() as cur:
        cur.execute("SHOW TABLES")
        print(cur.fetchall())

[('posts',), ('users',)]

In [135]:
with get_db_connection(autocommit=False) as conn:
    with conn.cursor() as cur:
        cur.execute("SELECT * FROM posts")
        print(cur.fetchall())

[]

In [136]:
with get_db_connection(autocommit=False) as conn:
    with conn.cursor() as cur:
        for _ in cur.execute(sql_script, multi=True):
            pass

        conn.commit()

In [137]:
with get_db_connection(autocommit=False) as conn:
    with conn.cursor() as cur:
        cur.execute("SHOW TABLES")
        print(cur.fetchall())

[('posts',), ('users',)]

In [138]:
with get_db_connection(autocommit=False) as conn:
    with conn.cursor() as cur:
        cur.execute("SELECT * FROM posts")
        print(cur.fetchall())

[(1, 'post1', 'body1', 1), (2, 'post2', 'body2', 1), (3, 'post3', 'body3', 1)]

In [141]:
with get_db_connection(autocommit=True) as conn:
    with conn.cursor() as cur:
        cur.execute(sql_script, multi=True)